body{
	
	background-color: #000000;
	color: #FFFFFF;
		
}

#content{
	
	margin-bottom: 1em;
	padding: 1em;
	background-color:rgba(255,255,255,0.6);
	color: #000000;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#content img{
	
	
}

#lightGallery li{
	
	display: inline;
}

.thumbnail{
	
	width: 256px;
}




